@CHARSET "UTF-8";

.soss-form-element { margin:0.75em 0; }
#download-button { margin: 0.75em 0; }
#class-list-textarea {width:40em; height:15em; }
.delete-row-cell { cursor: pointer; }
.disabled em { color:rgb(180,180,180); }
#soss-admin-tabs-container { margin: auto; }

.trash-button { width: 20px; height: 20px; background: url('../img/trash.png') no-repeat; }
.trash-button:hover { cursor: pointer;}
#soss-admin-new-assign-ddyear { width: 4em; }
#soss-admin-new-assign-name { margin-right: 1em; width: 10em; }
#soss-admin-new-assign-ddcb { margin-right: 0.4em;}

#soss-admin-students-form-container { margin-bottom: 1.5em; border-bottom: 1px solid rgb(80,80,80); }
#soss-admin-students-form-container:after { display:block; content:'.'; height:0; clear:both; }
#soss-admin-new-student { border-left: 1px solid rgb(80,80,80); padding: 0 0 1em 2em; margin: 0 0 0 400px;  width: 350px; float: left; }
#soss-admin-new-student input { width: 100%; margin-bottom: 0.5em; }
#soss-admin-bulk-students { width: 400px; margin: 0 -400px 0 10px; float: left; padding: 1em 0; }
#soss-admin-bulk-students textarea { width: 350px; height: 150px; }

.admin-info-message { background: yellow; padding: 0.5em; color:black; border: 1px rgb(100,100,100) solid;}