@CHARSET "UTF-8";

.soss-form-element { margin:0.75em 0; }
#download-button { margin: 0.75em 0; }
#class-list-textarea {width:40em; height:15em; }
.delete-row-cell { cursor: pointer; }
.disabled em { color:rgb(180,180,180); }
#soss-admin-tabs-container { margin: auto; }

.trash-button { width: 20px; height: 20px; background: url('../img/trash.png') no-repeat; }
.trash-button:hover { cursor: pointer;}
#soss-admin-new-assign-ddyear { width: 4em; }
#soss-admin-new-assign-name { margin-right: 1em; width: 10em; }
#soss-admin-new-assign-ddcb { margin-right: 0.4em;}